<!-- Header Begins Here -->
<div data-role="header">
	<h1>Create an Event</h1>
</div>
<!-- Header Ends Here->

<!-- Content Begins Here -->
<div data-role="content">
	<p><a href="starter-visualizer.ejs" data-role="button">Create</a></p>
</div>
<!-- Content Ends Here -->