<!-- Header Begins Here -->
<div class="header">
	<h1>Create an Event</h1>
</div>
<!-- Header Ends Here->

<!-- Content Begins Here -->
<div class="content">
	<p><a href="starter-visualizer.ejs" class="button">Create</a></p>
</div>
<!-- Content Ends Here -->