<div id="bg">
	<img src="../img/layout-background.png" alt="">
</div>

<div data-role="header">
	<h1>Create an Event</h1>
	<a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
</div>


<div data-role="content">
	<p><a href="" data-role="button" id="display-link" >Create Squares</a></p>
	<p><a href="" data-role="button" id="line-display-link" >Create Lines</a></p>
</div>

<script type="text/javascript">
	$("#display-link").click(function () {
		$.mobile.changePage('/display#boxes', { transition: 'slide' } );
	});
	$("#line-display-link").click(function () {
		$.mobile.changePage('/display#lines', { transition: 'slide' } );
	});
</script>