<div data-role="header" data-theme="a">
	<h1>Start a visualizer</h1>
	<a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
</div>

<div data-role="content" role="main" data-theme="a">

	<div data-role="popup" id="nameTaken">
		<p>Sorry, this visualizer name is already taken. Please choose another.<p>
	</div>
	<form id="visualizer-form" method="POST" action="mainpage" data-ajax="false">
		<fieldset data-role="controlgroup" data-type="horizontal" >
			<input type="radio" name="radio-choice" id="radio-choice1" value="circles" checked="checked" />
         	<label for="radio-choice1">Circles</label>

         	<input type="radio" name="radio-choice" id="radio-choice2" value="bars"  />
         	<label for="radio-choice2">EQ Bars</label>

         	<input type="radio" name="radio-choice" id="radio-choice3" value="balls"  />
         	<label for="radio-choice3">Balls</label>
		</fieldset>
		<input placeholder="Name your visualizer" id="visualizer-name" type="text" />
		<input type="submit" value="Start visualizer"  />
	</form>
</div>

<script type="text/javascript">
	
	var socket = io.connect(window.location.hostname);
	var longitude;
	var latitude;
	var type = 'circles';
	
	navigator.geolocation.getCurrentPosition(successCallback,errorCallback,{timeout:10000});

	function successCallback(position) {
		longitude = position.coords.longitude;
		latitude = position.coords.latitude;
		console.log('longitude: ' + longitude);
		console.log('latitude: ' + latitude);
		
	}
	
	function errorCallback() {
		alert('Cannot get location!');
	}

	var name = '';

	$("#visualizer-form").bind('submit', function (event) {
		event.preventDefault();
		name = $('#visualizer-name').val();
/* 		type = $('#visualizer-form:radio:checked').val(); */
/* 		console.log(type); */
		socket.emit('visualizerRequest', { name : name, type : type, longitude : longitude, latitude : latitude });
	});
	socket.on('nameAlreadyTaken', function() {
		$('#nameTaken').popup('open', { positionTo : "window" } );//.delay(10000).popup('close');
	});
	socket.on('nameAccepted', function() {
		var url = '/display/' + name;
		$.mobile.changePage(url, { transition: 'slide' } );
	});
	

	$("#radio-circles").click(function () {
		console.log("CIRCLES!");
	});
	
/* CAROUSEL JAVASCRIPT */


</script>