<div id="bg">
	<img src="../img/layout-background.png" alt="">
</div>

<div data-role="header">
	<h1>Create an Event</h1>
	<a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
</div>


<div data-role="content">


	<input type="radio" name="viz_type" id="radio-circles" value="c" />
		<label for="radio-circles">Circles</label>
	
	<input type="radio" name="viz_type" id="radio-boxes" value="b" />
		<label for="radio-boxes">Boxes</label>
	
	<input type="radio" name="viz_type" id="radio-lines" value="l" />
		<label for="radio-lines">Lines</label>
		
/* BUTTON CODE */
	<p><a href="" data-role="button" id="display-link" >Create Event</a></p>
</div>

<script type="text/javascript">

	$("#display-link").click(function () {
		$.mobile.changePage('/display#boxes', { transition: 'slide' } );
	});
	
/* CAROUSEL JAVASCRIPT */

</script>