<div id="visualizer-wrapper">
	<p id="inputCount">
	</p>
	<div id="visualizer1" class="visualizer">
	</div>
	Testing...
</div>

<script type="text/javascript">
	var socket = io.connect(window.location.hostname);
	
	var date;
	var debug = 1;
	
	socket.on('event', function (data) {
		date = new Date();
		var latency = date.getTime() - data.timestamp;
		if(debug) {
/* 			console.log(data.timestamp); */
		    $('#visualizer-wrapper').append('<br /><br />Event received! Latency is ' + latency);
		   	$('#visualizer-wrapper').append('<br /><br />Color is ' + data.color);
		}
	});
	
	var count = 0;
	
	socket.on('count', function(number) {
		$('#inputCount').html(number);
	});
	
	/* VISUALIZER LOGIC */

	/* 1 - BOXES */
	
	var inputIDs = [0];
	var numInputs = inputIDs.length;
	
	var boxes = new Array();
	
	/*
for(var i = 0; i < numInputs; i++) {
		return;
	}
*/
	
/* 	$.('#visualizer1').append */
</script>