<div id="visualizer-wrapper">
	<div id="visualizer1" class="visualizer">
	</div>
</div>

<script type="text/javascript">
	var socket = io.connect(window.location.hostname);
	
	/* VISUALIZER LOGIC */

	/* 1 - BOXES */
	
	var debug = 0;
	var date;
	var numInputs = 0;
	var numBoxes = 0;
	var numLines = 0;
	var boxWidth = 100;
	
	socket.on('count', function(data) {
		numInputs = data.number;
		
		/* CODE TO GENERATE  */
		while(numInputs > numLines) {
			$('#visualizer1').append('<div class="line" id="line-'+numLines+'"></div>');
			numLines++;
			console.log(numLines);
		}
		while(numInputs < numLines) {
			var removeLine = numLines - 1;
			$('#box-'+removeLine).remove();
			numLines--;
		}
		if(debug) {
			console.log('Number of inputs: ' + numInputs);
			console.log('Number of lines: ' + numLines);
		}
		
		lineWidth = 80 / (numLines - 1);
		$('.line').width(lineWidth+'%');
		$('.line').height(400);


		/* CODE TO GENERATE BOXES */
	/*	while(numInputs > numBoxes) {
			$('#visualizer1').append('<div class="box" id="box-'+numBoxes+'"></div>');
			numBoxes++;
		}
		while(numInputs < numBoxes) {
			var removeBox = numBoxes - 1;
			$('#box-'+removeBox).remove();
			numBoxes--;
		}
		if(debug) {
			console.log('Number of inputs: ' + numInputs);
			console.log('Number of boxes: ' + numBoxes);
		}
		
		boxWidth = 100 / Math.ceil((Math.sqrt(numBoxes)));
		$('.box').width(boxWidth+'%');
		$('.box').height($('.box').width());  */
	});
	
	socket.on('event', function (data) {
		date = new Date();
		var latency = date.getTime() - data.timestamp;
		var boxIndex = data.index;
		var lineIndex = data.index;
		
		if(debug) {
/* 			console.log(data.timestamp); */

		    $('#visualizer-wrapper').append('<br />Event received! Latency: ' + latency);
		    console.log("boxIndex: "+ boxIndex);
		   	$('#visualizer-wrapper').append('<br /><br />Color is ' + data.color);
		}
		
		/* CODE TO DISPLAY LINES */
		var lineX = Math.floor((($(window).width() * 0.2) / (2 + numLines - 2)) * lineIndex + $('.line').width() * (lineIndex - 1));
		var lineY = 0;
		console.log("lineX: "+ lineX);
		console.log("lineY: "+ lineY);
		console.log('color: '+ data.color);
		console.log('lineWidth: '+ lineWidth);
		$('#line-'+lineIndex).css({ 'left' : lineX, 'bottom' : 0, 'background-color' : data.color }).animate(
		{
			'opacity' : 1,
			'height' : 400,
		}, 400).animate(
		{
			'opacity' : 0,
			'height' : 0,
		}, 400);
		/* CODE TO DISPLAY BOXES */
	/*	var boxX = Math.floor(Math.random() * ($('body').width() - $('.box').width()));
		var boxY = Math.floor(Math.random() * ($('body').height() - $('.box').width()));
		
		console.log("boxX: "+ boxX);
		console.log("boxY: "+ boxY);
		console.log('color: '+ data.color);
		console.log('boxWidth: '+ boxWidth);
		$('#box-'+boxIndex).css({ 'left' : boxX, 'top' : boxY, 'background-color' : data.color }).animate(
		{
			'opacity' : 0.75,
			boxShadow: '0 0 50px #eee'
		}, 100).animate(
		{
			'opacity' : 0,
			boxShadow: '0 0 0px #eee'
		}, 100); */
		
	});
	
	
	
	/*
function nrand() {
		var x1, x2, rad;
	 
		do {
			x1 = 2 * Math.random() - 1;
			x2 = 2 * Math.random() - 1;
			rad = x1 * x1 + x2 * x2;
		} while(rad >= 1 || rad == 0);
	 
		var c = Math.sqrt(-2 * Math.log(rad) / rad);
	 
		return x1 * c;
	}
*/
	
/* 	$.('#visualizer1').append */
</script>