<div id="visualizer-wrapper">
	<h1 class="visualizerName"><%= name %></h1>
	<div id="visualizer1" class="visualizer">
	</div>
</div>

<script type="text/javascript">
/* 	var socket = io.connect(window.location.hostname); */
	$('.visualizerName').hide();
	/* VISUALIZER LOGIC */

	/* 1 - BOXES */
	
	var debug = 1;
	var date;
	var numInputs = 0;
	var numElements = 0;
	var boxWidth = 100;
	
/* 	socket.emit('visualizerCreated', { longitude : longitude, latitude : latitude }); */
	var name = $('.visualizerName').html();
	var pusher = new Pusher('1c0d1fc18d1af207286e');
	var presenceChannel = pusher.subscribe('presence-' + name);
	
	var inputs = [];
	presenceChannel.members.each(function(member) {
		inputs.push(member.id);
		if(debug) {
			console.log('Member ID #' + member.id + ' added.');
		}
	});
/* 	socket.on('count', function(data) { */

	presenceChannel.bind('pusher_internal:member_added', function(member) {
		inputs.push(member.user_id);
		if(debug) {
			console.log('Member ID #' + member.user_id + ' added.');
		}
		numInputs++;
		
		while(numInputs > numElements) {
			$('#visualizer1').append('<div class="box" id="box-'+numElements+'"></div>')
			numElements++;
		}
		while(numInputs < numElements) {
			var removeBox = numElements - 1;
			$('#box-'+removeBox).remove();
			numElements--;
		}
		if(debug) {
			console.log('Number of inputs: ' + numInputs);
			console.log('Number of boxes: ' + numElements);
		}
		
		boxWidth = 100 / Math.ceil((Math.sqrt(numElements)));
		$('.box').width(boxWidth+'%');
		$('.box').height($('.box').width());
	});
	
/* 	socket.on('event', function (data) { */
	presenceChannel.bind('client-tapped', function(data) {
		date = new Date();
		var latency = date.getTime() - data.timestamp;
		var boxIndex = inputs.indexOf(data.id);
		
		if(debug) {
/* 			console.log(data.timestamp); */

		    $('#visualizer-wrapper').append('<br />Event received! Latency: ' + latency);
		    console.log("boxIndex: "+ boxIndex);
		   	$('#visualizer-wrapper').append('<br /><br />Color is ' + data.color);
		}
		var boxX = Math.floor(Math.random() * ($('body').width() - $('.box').width()));
		var boxY = Math.floor(Math.random() * ($('body').height() - $('.box').width()));
		
		console.log("boxX: "+ boxX);
		console.log("boxY: "+ boxY);
		console.log('color: '+ data.color);
		console.log('boxWidth: '+ boxWidth);
		$('#box-'+boxIndex).css({ 'left' : boxX, 'top' : boxY, 'background-color' : data.color }).animate(
		{
			'opacity' : 0.75,
			boxShadow: '0 0 50px #eee'
		}, 100).animate(
		{
			'opacity' : 0,
			boxShadow: '0 0 0px #eee'
		}, 100);
	});
	/*
function nrand() {
		var x1, x2, rad;
	 
		do {
			x1 = 2 * Math.random() - 1;
			x2 = 2 * Math.random() - 1;
			rad = x1 * x1 + x2 * x2;
		} while(rad >= 1 || rad == 0);
	 
		var c = Math.sqrt(-2 * Math.log(rad) / rad);
	 
		return x1 * c;
	}
*/
	
/* 	$.('#visualizer1').append */
</script>