<div data-role="header" data-theme="c">
	<h1>Vizz</h1>
</div>

<div class="content" data-theme="c">
	<a href='' data-role="button" id="create-link" >Start a Visualizer</a>
	<p><a href='' data-role="button" id="join-link" >Join a Visualizer</a></p>
</div>

<script type="text/javascript">    
	$("#create-link").click(function () {
		$.mobile.changePage('/create', { transition: 'slide' } );
	});
	
	$("#join-link").click(function () {
		$.mobile.changePage('/join', { transition: 'slide' } );
	});
</script>
