<div data-role="header">
	<h1>Home</h1>
</div>

<div class="content">
	<a href='' data-role="button" id="create-link" >Start a Visualizer</a>
	<p><a href='' data-role="button" id="join-link" >Join a Visualizer</a></p>
</div>

<script type="text/javascript">
	$("#create-link").click(function () {
		$.mobile.changePage('/create', { transition: 'slidefade' } );
	});
	
	
	$("#join-link").click(function () {
		$.mobile.changePage('/join', { transition: 'slidefade' } );
	});
</script>
