<!-- Header Begins Here -->
<div class="header">
	<h1>Home</h1>
</div>
<!-- Header Ends Here->

<!-- Content Begins Here -->
<div class="content">
	<a href='/create' class="button">Start a Visualizer</a>
	<p><a href='/join' >Join a Visualizer</a></p>
</div>
<!-- Content Ends Here -->