<div data-role="header" data-theme="a">
	<h1>Visualizer</h1>
</div>

<div class="content" data-theme="a">
	<div class="content-wrapper">
		<a href='' data-role="button" id="join-link" >Join a Visualizer</a>
		<a href='' data-role="button" id="create-link" >Host a Visualizer</a>
	</div>
</div>

<script type="text/javascript">    
	$("#create-link").click(function () {
		$.mobile.changePage('/create', { transition: 'slide' } );
	});
	
	$("#join-link").click(function () {
		$.mobile.changePage('/join', { transition: 'slide' } );
	});
</script>

</body>
