<div data-role="content" id="input-wrapper">
	<p>Tap the screen to the beat!</p>
	<div class="full-screen-overlay">
		YOU SHOULD NOT SEE THIS
	</div>
</div>

<script type="text/javascript">
	var socket = io.connect(window.location.hostname);
	
	/*
socket.on('status', function (data) {
	    $('#status').html(data.status);
	});
*/
	
	$('.full-screen-overlay').click(function() {
	    socket.emit('trigger');
	    $('#input-wrapper').append('<p>Event sent to </p>' + window.location.hostname);
	});
</script>