<div data-role="content" id="input-wrapper">
	<p>Tap the screen to the beat!</p>
	<div class="full-screen-overlay">
		YOU SHOULD NOT SEE THIS
	</div>
	<div class="color-slider">
		<label for="slider">Input slider:
                <img id="theImage" src="http://www.glyphish.com/images/spooky-moon.png" />
            </label>
            <input type="range" name="slider" id="slider-1" value="0" min="0" max="100"  />
	</div>
</div>


<script type="text/javascript">
	var socket = io.connect(window.location.hostname);
	
	var date;
	
	$('.full-screen-overlay').click(function() {
		date = new Date();
	    socket.emit('trigger', { timestamp : date.getTime() });
	    $('#input-wrapper').append('<br />Event sent at ' + date.getTime());
	});
	
	$(".color-slider").change(function() {
    	var sVal = $('#slider-1').val();
    	console.log(sVal);
    	/*
if(sVal > 50) {
        	$('#theImage').attr('src', 'https://si0.twimg.com/profile_images/2452325988/gorzcg0uuguiuzegjsax.png');
    }
    
    	if(sVal <= 50) {
       		$('#theImage').attr('src', 'http://www.glyphish.com/images/spooky-moon.png');
    }
*/
    
    });

</script>