<div data-role="content" id="input-wrapper">
	<p>Tap the screen to the beat!</p>
	<div class="full-screen-overlay">
		YOU SHOULD NOT SEE THIS
	</div>
</div>

<script type="text/javascript">
	var socket = io.connect(window.location.hostname);
	
	var debug = 0;
	var date;
	
	$('.full-screen-overlay').click(function() {
		date = new Date();
	    socket.emit('trigger', { timestamp : date.getTime() });
	    if(debug) {
		    $('#input-wrapper').append('<p>Event sent at </p>' + date.getTime());
		}
	});
</script>