<!-- Header Begins Here -->
<div class="header">
	<h1>Join an Event</h1>
</div>
<!-- Header Ends Here->

<!-- Content Begins Here -->
<div class="content">
	<p><a href="/input" class="button">Join</a></p>
</div>
<!-- Content Ends Here -->