<!-- Header Begins Here -->
<div data-role="header">
	<h1>Join an Event</h1>
</div>
<!-- Header Ends Here->

<!-- Content Begins Here -->
<div data-role="content">
	<p><a href="/input" data-role="button">Join</a></p>
</div>
<!-- Content Ends Here -->