<div data-role="header">
	<h1>Join an Event</h1>
</div>

<div class="content">
	<p><a href='' data-role="button" id="index-link">Go Back</a></p>
	<p><a href='' data-role="button" id="input-link">Join</a></p>
</div>

<script type="text/javascript">
	$("#index-link").click(function () {
		$.mobile.changePage('/');
	});
	
	
	$("#input-link").click(function () {
		$.mobile.changePage('/input');
	});
</script>
